@{
    ViewData["Title"] = "Book Appointment";
}

<head>
    <style>
        .getAappointment-container .body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }

        .getAappointment-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background: url("/assets/img/salon/appointment.png") no-repeat center center fixed;
            background-size: auto;
        }

            .getAappointment-container .container {
                background: rgba(0, 0, 0, 0.7);
                padding: 30px;
                border-radius: 10px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
                width: 100%;
                max-width: 500px;
                text-align: center;
            }

                .getAappointment-container .container h1 {
                    font-size: 28px;
                    margin-bottom: 20px;
                    color: #bda2c8;
                }

            .getAappointment-container .form {
                display: flex;
                flex-direction: column;
                gap: 15px;
            }

            .getAappointment-container .label {
                font-weight: bold;
                color: #bda2c8;
                margin-bottom: 5px;
                text-align: left; /* Etiketleri sola hizalama */
            }

            .getAappointment-container .input, .getAappointment-container .select {
                width: 100%;
                padding: 12px;
                font-size: 14px;
                border: 1px solid #ccc;
                border-radius: 5px;
                margin-bottom: 15px;
            }

            .getAappointment-container .button {
                width: 100%;
                padding: 12px;
                background-color: #bda2c8;
                border: none;
                color: white;
                font-size: 16px;
                border-radius: 5px;
                cursor: pointer;
            }

        .button:hover {
            background-color: #241f29;
        }

        .getAappointment-container .container .error, .container .success {
            font-size: 16px;
            margin: 15px 0;
            color: white;
        }

        /* Hata mesajı stil */
        .error-message {
            color: red;
            font-size: 14px;
            margin-top: 10px;
        }

        .success-message {
            color: lawngreen;
            font-size: 14px;
            margin-top: 10px;
        }
    </style>

</head>

<form asp-action="BookAppointment" method="post">
    <div class="getAappointment-container">
        <div class="container">
            <h1 class="h1">Book Appointment</h1>
            <form class="form">
                <div>
                    <label class="label" for="ServiceId">Service:</label>
                    <select name="ServiceId" id="ServiceId" required class="input" onchange="updateServiceDetails(); filterEmployees();">

                        <option value="">Select a service</option>
                        @foreach (var service in (List<WEB3.Models.Services>)ViewBag.Services)
                        {
                            <option value="@service.serviceid" data-price="@service.serviceprice" data-duration="@service.serviceduration">@service.servicename</option>
                        }
                    </select>
                </div>

                <div id="serviceDetails" style="display:none;">
                    <div>
                        <label class="label" for="serviceprice">Service Price:</label>
                        <input type="text" id="serviceprice" name="serviceprice" class="input" readonly />
                    </div>
                    <div>
                        <label class="label" for="serviceduration">Service Duration:</label>
                        <input type="text" id="serviceduration" name="serviceduration" class="input" readonly />
                    </div>
                </div>

                <div>
                    <label class="label" for="EmployeeId">Employee:</label>
                    <select name="EmployeeId" id="EmployeeId" required class="input">
                        <option value="">Select an employee</option>
                        @foreach (var employee in (List<WEB3.Models.Employees>)ViewBag.Employees)
                        {
                            <option value="@employee.employeeid" data-serviceid="@employee.serviceid">@employee.firstname @employee.lastname</option>
                        }
                    </select>
                </div>

                <div>
                    <label class="label" for="AppointmentDateTime">Date & Time:</label>
                    <input type="datetime-local" name="AppointmentDateTime" id="AppointmentDateTime" required class="input" />
                </div>
                <div>
                    <button type="submit" class="button">Book Appointment</button>
                </div>
                <br />
                <li class="list-group-item">
                    <a asp-controller="MyAppointments" asp-action="MyAppointments" class="text-decoration-none">My Appointments</a>
                </li>
            </form>

            <!-- Eğer hata varsa gösterilecek -->
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="error-message">
                    @ViewBag.ErrorMessage
                </div>
            }
            @if (ViewBag.SuccessMessage != null)
            {
                <div class="success-message">
                    @ViewBag.SuccessMessage
                </div>
            }
        </div>
    </div>
</form>

<script>
    function updateServiceDetails() {
        var serviceSelect = document.getElementById("ServiceId");
        var selectedOption = serviceSelect.options[serviceSelect.selectedIndex];

        var serviceprice = selectedOption.getAttribute("data-price");
        var serviceduration = selectedOption.getAttribute("data-duration");

        // Service details section
        var serviceDetailsDiv = document.getElementById("serviceDetails");

        if (serviceprice && serviceduration) {
            document.getElementById("serviceprice").value = serviceprice;
            document.getElementById("serviceduration").value = serviceduration;

            // Show the details section
            serviceDetailsDiv.style.display = "block";
        } else {
            // Hide the details if no service is selected
            serviceDetailsDiv.style.display = "none";
        }
    }

    function filterEmployees() {
        var serviceSelect = document.getElementById("ServiceId");
        var selectedServiceId = serviceSelect.value;

        var employeeSelect = document.getElementById("EmployeeId");
        var employeeOptions = employeeSelect.options;

        for (var i = 0; i < employeeOptions.length; i++) {
            var option = employeeOptions[i];
            var employeeServiceId = option.getAttribute("data-serviceid");

            if (selectedServiceId && employeeServiceId === selectedServiceId) {
                option.style.display = "block"; // Show the option
            } else if (i !== 0) {
                option.style.display = "none"; // Hide the option
            }
        }

        // Reset the employee selection
        employeeSelect.value = "";
    }
</script>
